.bottom-article {
    margin-left: 0.5em;
    margin-bottom: 1.8em;
}

/* .bottom-article:first-child {

} */

.bottom-article__title {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 0.87em;
}

.bottom-article__paragraph {
    font-size: 17.16px;
    line-height: 1.63em;
    margin-bottom: 2.45em;
}