.main-bottom {
    background-image: url("../../../images/illustration-laptop-mobile.svg");
    background-repeat: no-repeat;
    background-size: 498px;
    background-position: 50% 62px;
    padding: 28.7em 1.6em 0;
    text-align: center;
    margin-bottom: 5.8em;
}

@media (min-width: 900px) {
    .main-bottom {
        background-image: url("../../../images/illustration-laptop-desktop.svg");
        background-size: 67.5%;
        background-position: -59.5% 48.5%;
        padding: 19.1em 11em 16.2em 45.45em;
        margin-bottom: 0;
    }
}

