.main-bottom {
    background-image: url("../../../images/illustration-laptop-mobile.svg");
    background-repeat: no-repeat;
    background-size: 498px;
    background-position: 50% 62px;
    padding: 28.7em 1.6em 0;
    text-align: center;
    margin-bottom: 5.8em;
}

