.middle-article {
    color: var(--White);
    text-align: center;
}

.middle-article__title {
    font-size: 2.33em;
    line-height: 1.36em;
    margin-bottom: 0.45em;
}

.middle-article__paragraph {
    font-size: 17.2px;
    line-height: 1.63em;
}