.menu {
    display: none;
    position: absolute;
    background-color: var(--White);
    top: 4.2em;
    left: 0;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 0em 1.55em;
    box-shadow: 0 20px 20px -5px var(--Grayish-blue);
}

.menu-show {
    display: block;
}

.top-menu {
     padding: 2.05em 0em 1.45em;
     border-bottom: 1px solid var(--Grayish-blue);
}

.button-container {
    margin-bottom: 1.8em;
}
.button-container:last-child {
    margin-bottom: 0em;
}

.button-with-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-button {
    font-size: 1.13em;
    color: var(--Very-dark-blue);
    font-family: "Overpass";
    font-weight: 600;
    margin-right: 0.4em;
}

.arrow {
    transition: transform 0.2s;
}

.arrow-open {
    transform: rotate(180deg);
}

.bottom-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.1em 2.1em 2.05em;
}

.login-button {
    font-family: "Overpass";
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 1.15em;
}

.sign-up-button {
    font-family: "Overpass";
    font-weight: 600;
    font-size: 1.05em;
    background-image: linear-gradient(var(--Very-light-red), var(--Light-red));
    width: 137px;
    padding-top: 0.85em;
    padding-bottom: 0.7em;
    margin-left: 0.15em;
    border-radius: 24px;
    color: var(--White);
}

@media (min-width: 900px) {
    .menu {
        display: flex;
        align-items: center;
        position: static;
        background: none;
        box-shadow: none;
        justify-content: space-between;
        padding: 0;
    }
    .top-menu {
        display: flex;
        border: none;
        padding: 0;
        margin-top: 0.2em;
    }
    .arrow {
        margin-top: 0.2em;
    }
    .button-container {
        position: relative;
        margin-bottom: 0;
        margin-right: 2.02em;
    }
    .top-button {
        font-size: 1.02em;
        color: var(--White);
        font-family: "Ubuntu";
        font-weight: 500;
    }
    .bottom-menu {
        flex-direction: row;
        padding: 0;
    }
    .login-button {
        font-size: 1.05em;
        margin-top: 0.4em;
        margin-right: 1.8em;
        margin-bottom: 0;
        color: var(--White);
        font-family: "Ubuntu";
        font-weight: 500;
    }
    .sign-up-button {
        background: none;
        background-color: var(--White);
        color: var(--Light-red);
        font-family: "Ubuntu";
        font-weight: 500;
        padding-top: 0.75em;
        padding-bottom: 0.8em;
    }
}