.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.9em;
    position: relative;
}

.nav__logo {
    width: 5.1em;
}

@media (min-width: 900px) {
    .nav {
        margin-bottom: 7.9em;
    }
    .menu-open {
        display: none;
    }
    .menu-close {
        display: none;
    }
    .nav__logo {
        width: 6.3em;
        margin-right: 4.05em;
    }
}
